

.container {
  position: relative;
  max-width: 1205px;
  padding: 0px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 19.5px 0px;
  background-color: #263F3C;
  z-index: 2;
  &__logo {
    display: flex;
    &-title {
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu__btn,
  .menu__icon {
    display: none;
  }
  
  .nav {
    &__list {
      display: flex;
      list-style-type: none;
      column-gap: 36px;
    }
    &__item {
    }
    &__link {
      position: relative;
      font-family: "Outfit", sans-serif;
      font-size: 16px;
      font-weight: 400;
      align-items: center;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s linear;
      text-decoration: none;
      &:hover{
        background: #fff;
        border-radius: 20px;
        color: #263F3C;
        font-weight: 700;
        font-size: 17px;
        padding: 5px 21px;
      }
    }
    &__btn {
      max-width: 210px;
      width: 100%;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 20px;
      font-family: "Outfit", sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #263F3C;
      text-align: center;
      text-decoration: none;
    }
  }
  
}

