.container__about {
  position: relative;
  max-width: 1274px;
  padding: 0px 15px;
  margin: 0 auto;
}
.about {
  position: relative;
  padding: 62px 0 132px ;
  background-color: #0c1417;
  z-index: 1;
  &::after,
  &::before {
    content: "";
    display: block;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  &::before {
    top: 0;
    background: linear-gradient(360deg, #0c1417 39.22%, #000 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(180deg, #0c1417 39.22%, #000 100%);
  }
  &__wrapper {
  }
  &__header-content {
    max-width: 655px;
    width: 100%;
    text-align: center;
    margin: 0 auto 47px;
  }
  &__title {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 26px;
  }
  &__header-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    color: #fff;
  }
  &__bottom-content {
    display: grid;
    grid-template-columns: 35.2% 1fr;
    column-gap: 128px;
    align-items: center;
    justify-content: space-between;
  }
  &__wrap-img {
    border: 2px solid #D1FFF5;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1/0.74;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__description {
  }
  &__bottom-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    color: #fff;
    margin-bottom: 0;
  }
  p.about__bottom-text + &__bottom-text{
    margin-top: 23px;
    margin-bottom: 0;
  }
  &__text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 145%;
    color: #fff;
    margin-top: 51px;
    margin-bottom: 7px;
  }
  &__btn {
    max-width: 185px;
    width: 100%;
    padding: 10px 13px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    background: transparent;
    cursor: pointer;
  }
}
