:root {
  --Green: #0eb27f;
  --Mint: #61ffcd;
  --Dark-Green: #0a7f5a;
  --Light-Green: #49bf9a;
  --Test: #14ffb5;
}

.container-roadmap {
  position: relative;
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.roadmap {
  position: relative;
  padding: 46px 0 152px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/bg_roadmap.png");
  z-index: 1;
  &::after,
  &::before {
    content: "";
    display: block;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  &::before {
    top: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 84.03%, #000 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 84.03%, #000 100%);
  }
  &__wrap {
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 127px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 53px;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 100%;
  }

  &__cycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    padding: 32px 24px;
    display: flex;
    width: 117px;
    height: 120px;
    
    border-radius: 50%;
    background: #0B1416;
  }
  .border__green{
    border: 13px solid var(--Green);
  }
  .border__mint{
    border: 13px solid var(--Mint);
  }
  .border__darkgreen{
    border: 13px solid var(--Dark-Green);
  }
  .border__lightgreen{
    border: 13px solid var(--Light-Green);
  }
  .border__test{
    border: 13px solid var(--Test);
  }

  &__text {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
  }
  .color__research {
    color: var(--Green);
  }
  .color__prototyping {
    color: var(--Mint);
  }
  .color__design {
    color: var(--Dark-Green);
  }
  .color__development {
    color: var(--Light-Green);
  }
  .color__testing {
    color: var(--Test);
  }

  .pulse-1 {
    animation: pulse-1 2s infinite alternate;
  }
  .pulse-2 {
    animation: pulse-2 2s infinite alternate;
  }
  .pulse-3 {
    animation: pulse-3 2s infinite alternate;
  }
  .pulse-4 {
    animation: pulse-4 2s infinite alternate;
  }
  .pulse-5 {
    animation: pulse-5 2s infinite alternate;
  }

  .line .pulse-1 {
    fill: #0eb27f;
  }
  .line .pulse-2 {
    fill: #0a7f5a;
  }
  .line .pulse-3 {
    fill: #14ffb5;
  }
  .line .pulse-4 {
    fill: #61ffcd;
  }
  .line .pulse-5 {
    fill: #49bf9a;
  }

  @keyframes pulse-1 {
    0% {
      filter: drop-shadow(0px 0px 10px #0eb27f);
    }
    100% {
      filter: drop-shadow(0px 0px 20px #0eb27f);
    }
  }
  @keyframes pulse-2 {
    0% {
      filter: drop-shadow(0px 0px 10px #0a7f5a);
    }
    100% {
      filter: drop-shadow(0px 0px 20px #0a7f5a);
    }
  }
  @keyframes pulse-3 {
    0% {
      filter: drop-shadow(0px 0px 10px #14ffb5);
    }
    100% {
      filter: drop-shadow(0px 0px 20px #14ffb5);
    }
  }
  @keyframes pulse-4 {
    0% {
      filter: drop-shadow(0px 0px 10px #61ffcd);
    }
    100% {
      filter: drop-shadow(0px 0px 20px #61ffcd);
    }
  }
  @keyframes pulse-5 {
    0% {
      filter: drop-shadow(0px 0px 10px #49bf9a);
    }
    100% {
      filter: drop-shadow(0px 0px 20px #49bf9a);
    }
  }
}
