:root {
  --Green: #0eb27f;
  --Mint: #61ffcd;
  --Dark-Green: #0a7f5a;
  --Light-Green: #49bf9a;
  --Test: #14ffb5;
}

.container-roadmap {
  position: relative;
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
  @media (max-width: 767px) {
    padding: 0px 20px;
  }
}

.roadmap {
  position: relative;
  padding: 46px 0 152px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/bg_roadmap.png");
  z-index: 1;
  @media (max-width: 767px) {
    background: #0b1416;
    padding: 36px 0;
    overflow: hidden;
  }
  &::after,
  &::before {
    content: "";
    display: block;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
  }
  &::before {
    top: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 84.03%, #000 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 84.03%, #000 100%);
  }
  &__wrap {
  }

  &__title {
    color: #fff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 127px;
    @media (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 34px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 53px;
    @media (max-width: 768px) {
      padding: 0 36px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      padding: 61px 0 61px 8px;
      row-gap: 74px;
      max-width: 275px;
      margin: 0 auto;
    }
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    width: 100%;
    @media (max-width: 768px) {
      transform: translate(-50%, -50%);
    }
    @media (max-width: 767px) {
      transform: rotate(90deg) translate(33.65%, 151%);
      top: 0;
      left: 0;
      width: 455%;
    }
  }

  &__cycle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    padding: 32px 24px;
    display: flex;
    width: 117px;
    height: 120px;

    border-radius: 50%;
    background: #0b1416;
    @media (max-width: 1024px) {
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 85px;
      height: 85px;
    }
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 75px;
      height: 75px;
    }
    @media (max-width: 767px) {
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
    }
    svg {
      @media (max-width: 767px) {
        width: 36px;
        height: 22px;
      }
    }
  }
  .border__green {
    border: 13px solid var(--Green);
    @media (max-width: 768px) {
      border: 8px solid var(--Green);
    }
    @media (max-width: 767px) {
      border: 16px solid var(--Green);
    }
  }
  .border__mint {
    border: 13px solid var(--Mint);
    @media (max-width: 1024px) {
      border: 10px solid var(--Mint);
    }
    @media (max-width: 768px) {
      border: 8px solid var(--Mint);
    }
    @media (max-width: 767px) {
      border: 16px solid var(--Mint);
    }
  }
  .border__darkgreen {
    border: 13px solid var(--Dark-Green);
    @media (max-width: 1024px) {
      border: 10px solid var(--Dark-Green);
    }
    @media (max-width: 768px) {
      border: 8px solid var(--Dark-Green);
    }
    @media (max-width: 767px) {
      border: 16px solid var(--Dark-Green);
    }
  }
  .border__lightgreen {
    border: 13px solid var(--Light-Green);
    @media (max-width: 1024px) {
      border: 10px solid var(--Light-Green);
    }
    @media (max-width: 768px) {
      border: 8px solid var(--Light-Green);
    }
    @media (max-width: 767px) {
      border: 16px solid var(--Light-Green);
    }
  }
  .border__test {
    border: 13px solid var(--Test);
    @media (max-width: 1024px) {
      border: 10px solid var(--Test);
    }
    @media (max-width: 768px) {
      border: 8px solid var(--Test);
    }
    @media (max-width: 767px) {
      border: 16px solid var(--Test);
    }
  }

  &__text {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    @media (max-width: 1024px) {
      font-size: 19px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .color__research {
    color: var(--Green);
  }
  .color__prototyping {
    color: var(--Mint);
  }
  .color__design {
    color: var(--Dark-Green);
  }
  .color__development {
    color: var(--Light-Green);
  }
  .color__testing {
    color: var(--Test);
  }

  .pulse-1 {
    animation: pulse-1 5s infinite alternate;
  }
  .pulse-2 {
    animation: pulse-2 5s infinite alternate;
  }


  .line .pulse-1 {
    fill: #0eb27f;
  }
  .line .pulse-2 {
    fill: #14ffb5;
  }


  @keyframes pulse-1 {
    0% {
      filter: drop-shadow(0px 0px 5px #0eb27f);
    }
    50% {
      filter: drop-shadow(0px 0px 20px #0eb27f);
    }
    100% {
      filter: drop-shadow(0px 0px 5px #0eb27f);
    }
  }
  @keyframes pulse-2 {
    0% {
      filter: drop-shadow(0px 0px 5px #14ffb5);
    }
    50% {
      filter: drop-shadow(0px 0px 20px #14ffb5);
    }
    100% {
      filter: drop-shadow(0px 0px 5px #14ffb5);
    }
  }
}
